
html,body {
  box-sizing: border-box;
  font-family: roboto
}

#root, body, .app {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
  letter-spacing: 1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: inherit;
}
